html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --accent-color: #F51B1B;
    --main: #000000;
    --white-color: #FFFFFF;

}
.text-h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #fff;
}
.text-h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #fff;

}
.text-gray {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white-color);
    opacity: 0.4;
}
.text-main {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white-color);
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main);
    height:  100vh;
}
.logo {
    position: absolute;
    display: flex;
    width: 239.907px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;

    top: 27px;
    bottom: 814px;
    left: 1160px;
    right: 41.09px;
}
.union {
    width: 162px;
    height: 16px;
    flex-shrink: 0;
}
.Rectangle {
    width: 24px;
    height: 11px;
    transform: rotate(90deg);
    flex-shrink: 0;
}
.front {
    flex-shrink: 0;
    height: 14.2px;
    width: 51.507px;
}
.my-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}
.photo {
    position: absolute;
    left: 40px;
    right: 1078px;
    top:40px;
    bottom: 465px;
    height: 355px;
    width: 322px;
}
.triangle {
    position: absolute;;
    top: 348px;
    bottom: 29px;
    left: 170px;
    right: 131px;

    color: var(--accent-color);
}
.red-square {
    position: absolute;
    width: 322px;
    height: 454px;
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-items: stretch;
    border-radius: 24px 24px 0px 0px;
    background: var(--accent-color);
    top: 366px;
    left: 40px;
    right: 1078px;
    bottom: 40px;
}
.my-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
 }
 .my-name p {
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
 .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 255px;
    height: 156px;
    top: 646px;
    left: 64px;
    right: 1151px;
}
.phone,
.mail,
.telegram,
.git {
    width: 225px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.phone-icon,
.mail-icon,
.telegram-icon,
.git-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}
.about-me {
    display: flex;
    width: 690px;
    flex-direction: column;
    flex-shrink: 0;
}
.frame {
    position: absolute;
    top: 58px;
    bottom: 40px;
    left: 393px;
    right: 39;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1006px;
    height: 558px;

    border: 0.05px solid var(--white-color);
}
.button {
    position:absolute;
    display: flex;
    width: 1008px;
    height: 20px;
    top: 203.5px;
    padding: 0px 891px 0px 57px;
    align-items: center;
    flex-shrink: 0;
    /* cursor: pointer; */
}
.btn-icon{
  width: 60px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}
.info {
    position: relative;
    display: flex;
    width: 930px;
    height: 408px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    top: 47px;
    bottom: 129px;
    left: 27px;
    right: 49px;
}
.education {
    position: inherit;
    display: flex;
    width: 538px;
    height: 152px;
    align-items: flex-start;
    gap: 72px;

    top: 47px;
    bottom: 385px;
    left: 27px;
    right: 441px;
}
.jobs {
    display: flex;
    width: 634px;
    height: 152px;
    align-items: flex-start;
    gap: 72px;
}
.skills {
    display: flex;
    width: 584px;
    height: 24px;
    align-items: flex-start;
    gap: 72px;
}

.education-frame {
    width: 323px;
    height: px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.jobs-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.skills-frame {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}


@media (min-width: 1440px) {
    .about {
        height: 860px;
    }
}

@media (max-width: 360px) {
    .about {
        height: auto;
    }
    .logo {
        justify-content: flex-start;
    }
    .my-photo {
        justify-content: flex-start;
        margin-top: 16px;
    }
    .red-square {
        margin-top: 16px;
    }
}